.third-slider{
    height: 255px;
    width: 600px;
}
.explore{
    margin-top: 150px;
    background-color: rgba(184, 244, 244, 0.071);
}
.register{
    margin-top: 150px;
}
.student{
    margin-top: 150px;
}
.studentHead{
    font-size: 60px;
}
.card:hover{
    background-color: rgba(128, 245, 206, 0.241);
    transition: .9s;
}

.question{
    margin-top: 150px;
}
.company{
    margin-top: 200px;
    margin-bottom: 200px;
}
.company:hover{
    background-color: rgba(186, 239, 239, 0.156);
}
footer{
    background-color: black;
}
@media screen and  (min-width: 1450px){
    .third-slider{
        height: 700px;
        width: 1550px;
    }
}
